body {
	background: black;
}

.fluid-container {
	height: 100%;
}

#yeahButton{
	display: block;
	margin: auto;
	margin-top: 0%;
	width: 85%;
	height: auto;
}

@media screen and (max-width:768px){

	#yeahButton {
		margin: auto;
		margin-top: 50%;
	}
}